services:
  api_db:
    image: postgres
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - '${DB_EXTERN}:${DB_PORT}'

  api_rbmq:
    image: rabbitmq:3-management
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    env_file:
      - .env
    restart: always
    ports:
      - '${RABBITMQ_PORT}:${RABBITMQ_PORT}'
      - '${RABBITMQ_MANAGEMENT_PORT}:${RABBITMQ_MANAGEMENT_PORT}'

  api:
    build: .
    env_file:
      - .env
    restart: always
    ports:
      - '${PORT}:${PORT}'
    depends_on:
      - api_db
      - api_rbmq


volumes:
  postgres_data:
  rabbitmq_data: